.vscode
.idea

# Do not index generated pdf and source code renamed to .txt (since FIKS doesn't accept .dart files)
Sezona?/Kolo?/*/*.pdf
Sezona?/Kolo?/*/*.txt

# Do not index dart files
.dart_tool
.packages
pubspec.lock

# Do not index generated rust files
Sezona?/Kolo?/*/target

# DO track result.txt, which describes how good was the solution
!Sezona?/Kolo?/result.txt
!Sezona?/Kolo?/*/result.txt